aws_region  = "us-east-1"
name_prefix = "uigraph"

vpc_id                     = "vpc-0123456789abcdef0"
subnet_ids                 = ["subnet-0123456789abcdef0", "subnet-0123456789abcdef1"]
eks_oidc_provider_arn      = "arn:aws:iam::123456789012:oidc-provider/oidc.eks.us-east-1.amazonaws.com/id/EXAMPLED539D4633E53DE1B71EXAMPLE"
eks_oidc_provider_url      = "oidc.eks.us-east-1.amazonaws.com/id/EXAMPLED539D4633E53DE1B71EXAMPLE"
eks_node_security_group_id = "sg-0123456789abcdef0"

k8s_namespace            = "default"
k8s_service_account_name = "uigraph"

bucket_name = "uigraph-prod-example"
